In [2]:
import pandas as analytics

In [6]:
df_raw = analytics.read_csv('Data1.csv')
df_raw = df_raw.drop('Unnamed: 0',axis=1)
df_raw

             0         1
0     1.004939  2.319887
1     3.412653 -1.637157
2     7.483318 -1.399250
3     0.702826  2.038150
4     0.287620  2.191703
...        ...       ...
1595  1.475069  2.329653
1596  4.277030  2.183024
1597  0.814996  2.246927
1598  7.999698 -1.811024
1599  4.007795  0.121834

[1600 rows x 2 columns]